.upcomingEvents-section {
    display: flex;
    justify-content: space-between;
}

.upcomingEvents-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upcomingEvents-sectionRight > p {
    color: #46FFF4;
    text-transform: lowercase;
}

.stockColor:nth-child(1) {
    color: #FFC803;
}