@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
}

body {
  background: linear-gradient(
    177deg,
    #030714 0.5%,
    #1f1c97 44.58%,
    #050a35 95.6%
  );
}

li {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.heading1 {
  font-size: 1.25rem;
}